[submodule "W3C_VehicleSignalInterfaceImpl"]
	path = W3C_VehicleSignalInterfaceImpl
	url = https://github.com/MEAE-GOT/W3C_VehicleSignalInterfaceImpl
[submodule "ccs-w3c-client"]
	path = ccs-w3c-client
	url = https://github.com/GENIVI/ccs-w3c-client
[submodule "vehicle_signal_specification"]
	path = vehicle_signal_specification
	url = https://github.com/GENIVI/vehicle_signal_specification
[submodule "ios-vss-graphql-client-demo"]
	path = ios-vss-graphql-client-demo
	url = https://github.com/highmobility/ios-vss-graphql-client-demo
[submodule "docker/vss-graphql"]
	path = docker/vss-graphql
	url = https://github.com/GENIVI/vss-graphql
